:root{
    /* varáveis css*/
    --color-secondary: #04D361;
    --color-secondary-dark: #04BF58;
    --color-text-title: #32264D;
    --color-text-complement: #9C98A6;
    --color-text-base: #6A6180;
    /*Tamano do documento*/
}

#logoImg{
    width: 7rem;
    height: 7rem;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}