<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/corpo_docente.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">
    <title>Corpo Docente TSI</title>
</head>
<body>
    <header>
        <h1>Corpo Docente</h1>
    </header>
    <div class="container" style="overflow-x:auto;">
        <table>
            <tr>
                <th>DOCENTE</th>
                <th>FORMAÇÃO </th>
                <th>CURRÍCULO LATTES</th>
            </tr>

            <tr id="1">
                <td>
                    <p>Alex Helder Cordeiro de Oliveira</p>
                </td>
                <td>
                    <p>Graduação em Engenharia de Redes de Comunicação.</p>
                    <p>Mestrado em Engenharia Elétrica.</p>
                </td>
                <td> <a target="_blanck" href="http://lattes.cnpq.br/9152776628167207">Lattes</a></td>
            </tr>

            <tr id="2">
                <td>
                    <p>Bruno da Rocha Braga</p>
                </td>
                <td>
                    <p>Graduação em Ciência da Computação.</p>
                    <p>Mestrado em Engenharia de Sistemas e Computação.</p>
                    <p>Doutorado em Administração.</p>
                </td>
                <td>
                    <a target="_blanck" href="http://lattes.cnpq.br/8466049398342611">Lattes</a>
                </td>
            </tr>

            <tr id="3">
                <td>
                    <p>Cristiane Jorge de Lima Bonfim</p>
                </td>
                <td>
                    <p>Graduação em Sistemas de Informação.</p>
                    <p>Especialista em Educação Profissional - PROEJA.</p>
                    <p>Mestre em Educação.</p> 
                </td>
                <td>
                    <a target="_blanck" href="http://lattes.cnpq.br/5773519461535104">Lattes</a>
                </td>
            </tr>

            <tr id="4">
                <td>
                    <p>Diógenes Ferreira Reis</p>
                </td>
                <td>
                    <p>Graduação em Engenharia de Redes de Comunicação.</p>
                    <p>Especialização em Tecnologia de Redes de Computadores.</p>
                    <p>Mestrado em Engenharia Elétrica.</p>
                </td>
                <td>
                    <a target="_blanck" href=" http://lattes.cnpq.br/8874225266691028">Lattes</a>
                </td>
            </tr>
            <tr id="5">
                <td>
                    <p>Ernesto Henrique Radis Steinmetz</p>
                </td>
                <td>
                    <p>Graduação em Informática.</p>
                    <p>Especialização em Engenharia de Software.</p>
                    <p>Mestrado profissional em Mestrado em Gestão do Conhecimento e TI.</p>
                    <p>Doutorado em Ciências da Informação.</p>
                </td>
                <td>
                    <a target="_blanck" href="http://lattes.cnpq.br/8504402802559835">Lattes</a>
                </td>
            </tr>
            <tr id="6">
                <td>
                    <p>Graziela Ferreira Guarda</p>
                </td>
                <td>
                    <p>Graduação em Ciência da Computação.</p>
                    <p>Graduação em Licenciatura em Informática.</p>
                    <p>Especialização em Gestão de Tecnologia da Informação.</p>
                    <p>Mestrado em Engenharia Elétrica.</p>
                </td>
                <td>
                    <a target="_blanck" href=" http://lattes.cnpq.br/0638310765534182">Lattes</a>
                </td>
            </tr>
            <tr id="7">
                <td>
                    <p>James Batista Figueiredo</p>
                </td>
                <td>
                    <p>Graduação em Tecnologia em Sistemas de Telecomunicações.</p>
                    <p>Especialização em Redes de Computadores e Telecomunicações.</p>
                </td>
                <td>
                    <a target="_blanck" href="http://lattes.cnpq.br/0829351822153809">Lattes</a>
                </td>
            </tr>
            <tr id="8">
                <td>
                    <p>Josane Borges das Neves Guimarães</p>
                </td>
                <td>
                    <p>Graduação em Tecnologia em Informática.</p>
                    <p>Especialização em Engenharia de Projetos de Sistemas de Informação</p>
                    <p>Mestrado profissional em Mestrado em Gestão do Conhecimento e TI.</p>
                </td>
                <td>
                    <a target="_blanck" href="http://lattes.cnpq.br/1781211616781091">Lattes</a>
                </td>
            </tr>
            <tr id="9">
                <td>
                    <p>Lázaro Vinícius de Oliveira Lima</p>
                </td>
                <td>
                    <p>Graduação em Tecnologia em Sistemas de Informação.</p>
                    <p>Especialização em Informática na Educação.</p>
                    <p>Mestrado em Engenharia Elétrica.</p>
                </td>
                <td>
                    <a target="_blanck" href="http://lattes.cnpq.br/5288450298597774">Lattes</a>
                </td>
            </tr>
            <tr id="10">
                <td>
                    <p>Leticia Toledo Maia Zoby</p>
                </td>
                <td>
                    <p>Graduação em Ciência da Computação.</p>
                    <p>Mestrado em Engenharia Elétrica.</p>
                    <p>Doutorado em Engenharia Elétrica.</p>
                </td>
                <td>
                    <a target="_blanck" href=" http://lattes.cnpq.br/9814751013976599">Lattes</a>
                </td>
            </tr>
            <tr id="11">
                <td>
                    <p>Magno Alves de Oliveira</p>
                </td>
                <td>
                    <p>Graduação em Matemática.</p>
                    <p>Especialização em Docência do Ensino Superior.</p>
                    <p>Mestrado em Matemática.</p>
                    <p>Doutorado em Matemática.</p>
                </td>
                <td>
                    <a target="_blanck" href="http://lattes.cnpq.br/3023361655410951">Lattes</a>
                </td>
            </tr>
            <tr id="12">
                <td>
                    <p>Marco Rogério Calheira Lima</p> 
                </td>
                <td>
                    <p>Graduação em Engenharia Elétrica.</p>
                    <p>Especialização em MBA em Telecomunicações.</p>
                    <p>Mestrado em Engenharia Elétrica.</p>
                </td>
                <td>
                    <a target="_blanck" href=" http://lattes.cnpq.br/3924725264173056">Lattes</a>
                </td>
            </tr>
            <tr id="13">
                <td>
                    <p>Marcos Ramon Gomes Ferreira</p>
                </td>
                <td>
                    <p>Graduação em Filosofia.</p> 
                    <p>Especialização em Leituras e Práticas Educativa.</p>
                    <p>Mestrado em Cultura e Sociedade.</p>
                    <p>Doutorado em Comunicação.</p> 
                </td>
                <td>
                    <a target="_blanck" href="http://lattes.cnpq.br/9538072103558772">Lattes</a>
                </td>
            </tr>
            <tr id="14">
                <td>
                    <p>Kerlla de Souza Luz</p> 
                </td>
                <td>
                    <p>Graduação em Tecnologia em Processamento de Dados.</p>
                    <p>Especialização em Informática em Educação.</p>
                    <p>Especialização em Análise de Sistemas - Arquitetura Cliente Servidor.</p>
                    <p>Mestrado profissional em Gestão</p>
                </td>
                <td>
                    <a target="_blanck" href="http://lattes.cnpq.br/7065742929034921">Lattes</a>
                </td>
            </tr>


        </table>
    </div>
</body>
</html>